/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
​
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: arial;
}
​
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
​
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
​
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
​
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
​
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
​
textarea {
    resize: vertical;
}
​
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
​
​
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container{
    width: 100%;
}

.column {
    width: 415px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 0px auto;
    padding: 10px 10px 20px 10px;
}

.column h2{
    text-align: center;
    margin-bottom: 5px;
}

.column h3{
    margin: 5px 0;
}

#title-input{
    float:left;
    width: 291px;
    height: calc(30px - 10px);
    border: 2px solid grey;
    resize: none;
    padding: 10px 0px 0px 5px;
    font-weight: bold;
    margin-right: 15px;

}

#add{
    margin-top: 2px;
    width: 100px;
    height: 30px;
    float: left;
    box-shadow: inset 10px 5px 5px #000;    
}

#desc-input{
    overflow: auto;
    border: 2px solid grey;
    margin-top: 15px;
    width: 405px;
    min-height: 50px;
    resize: none;
    font-weight: bold;
    padding: 10px 0 0 5px;
    color: grey;
}

.h-separator{
    margin: 30px auto 10px auto;
    width: 160px;
    border-top: 1px solid grey;
}
​
.box{
    width: 380px;
    height: 110px;
    border: 1px solid grey;
    margin-bottom: 15px;
}
​
​
/* ==========================================================================
   Media Queries
   ========================================================================== */
​
@media only screen and (min-width: 35em) {
​
}
​
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
​
}
​
/* ==========================================================================
   Helper classes
   ========================================================================== */
​
.hidden {
    display: none !important;
    visibility: hidden;
}
​
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
​
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
​
.invisible {
    visibility: hidden;
}
​
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
​
.clearfix:after {
    clear: both;
}
​
.clearfix {
    *zoom: 1;
}
​
/* ==========================================================================
   Print styles
   ========================================================================== */
​
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
​
    a,
    a:visited {
        text-decoration: underline;
    }
​
    a[href]:after {
        content: " (" attr(href) ")";
    }
​
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
​
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
​
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
​
    thead {
        display: table-header-group;
    }
​
    tr,
    img {
        page-break-inside: avoid;
    }
​
    img {
        max-width: 100% !important;
    }
​
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
​
    h2,
    h3 {
        page-break-after: avoid;
    }
}