/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
    font-family: Roboto;
    src: url(Roboto/Roboto-Light.ttf);
}

p{
    font-family: Roboto;
    font-size: 14px;
 }
 h1, h2, h3{
    font-family: Roboto;
 }
#container {
    width: 100%;
    min-height: 768px;
}

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

.column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.header .column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.header .column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

.section-2 {
    width: 100%;
    height: 400px;
    background: white;
}
.section-2 .column .left{
    width: 410px;
    height: 100%;
    float: left;
}

.section-2 .column .left .big-logo{
    width: 235px;
    height: 230px;
    margin: 70px 0px 0px 75px;
}

.section-2 .column .right{
    width: 550px;
    height: 100%;
    float: left;
}
.section-2 .column .right h1 {
    margin-top: 70px;
}

.section-2 .button-sm-dark:hover {
    color: #78777b;
    border: 1px solid #78777b;
}

.section-3 {
    width: 100%;
    height: 550px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/2nd-background-1600x550.png');
    background-size: cover;
    overflow: hidden;
}

.section-3 .box {
    width: 180px;
    height: 150px;
    margin: 200px auto;
}
.section-3 .box img{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

.section-3 .box a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.section-3 .box a:hover {
    color: #00e0d0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.column .ex-text{
    width: 100%;
    height: 110px;
    margin-top: 47px;
    text-align: center;
}

.column .ex-text p{
    color: #8e8d90;
    margin: 0 0;
}

.column .ex-text h3{
    display: inline-block;
    margin: 18px 0 10px 0;
    color: #413d4b;
}

.section-4 .separator,
.section-5 .separator{
    width: 50px;
    height: 1px;
    margin: 15px auto 15px auto;
    display: block;
    border-top: 1px solid #ddd; 
}

.section-4 .row-1{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
    margin-top:30px;
    text-align: center;
}
.section-4 .row-1 .box{
    width: 320px;
    height: 250px;
    float: left;
}

.section-4 .row-1 .mid-box{
    width: 318px;
    height: 250px;
    float: left;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.section-4 .row-1 img{
    margin-top: 30px;   
}
.section-4 .row-1 h6{
    margin: 20px 0;
}

.section-4 .row-1 .mid-box img{
    margin: 30px 0 8px 0;
}
.section-4 .row-1 p{
    font-family: arial;
    margin: 0 30px;
}

#last-row{
    margin-top: 0px;
    border-bottom: 0;
    margin-bottom: 67px;
}
#last-row .mid-box img{
    margin: 30px 0 0px 0;    
}

.section-5{
    width: 100%;
    height: 712px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/3rd-background-1600x712.png');
    background-size: cover;
    overflow: hidden;
}
#sec-5-header {
    width: 100%;
    height:185px;
}

#sec-5-header h3,
#sec-5-header p{
    color: white;
}

.section-5 .column{
    text-align: center;
    
}
.section-5 .window{
   
    width: 220px;
    height: 230px;
    margin: 0 10px;
    float: left;
}
.section-5 .window img{
    display: block;
    width: 100%;
    height: auto;
}

.section-5 .box{
    width: 218px;
    height: 80px;
    float: left;
    margin: 0 10px;
    border: 1px solid #76758a;
    color: #76758a;
}

.section-5 .box h4{
    margin: 15px 0 5px 0;
    font-family: arial;
}
.section-5 .box p{
    margin: 0 0;
    font-family: arial;
}

.section-5 .text-box {
    display: block;
    width: 100%;
    height: 82px;
    float: left;
    margin: 60px auto 0 auto;
}

.section-5 .text-box p{
    color: white;
    margin: 0 0 15px 0;
}

.work {
  width: 100%;
  display: block;
  height: 740px;
  background: #FFF;
  background-size: cover;
}

#container .work .column {
  height: 155px;
}

.work .header {
  width: auto;
  height: 145px;
  margin-top: 60px;
}

.work button:hover{
    border: 1px solid #000;
    color: #000;
}

.work .background-wall-1 {
  margin-left: 5px;
  width: 100%;
  height: 400px;
  background: url('../img/Sliced_Content/grey-grid.png');
  background-repeat: repeat-x;
}




.work .header .column-left-wk {
  width : 200px;
  float: left;
  margin-left: 10px;
}

.work .header .column-right-wk {
    width: 760px;
    float: left;
    width: auto;
    padding-left: 550px;
    margin-top: 20px;
}

.work .header .column-right-wk a{
  color: grey;
  text-decoration: none;
}

.work .last {
  width: 960px;
  height: auto;
  margin: 55px auto;
  text-align: center;
}

.work .last .button-sm-darl {
  position: absolute;
}

#container .tj-section-7 {
    width: 100%;
    display: block;
    height: 500px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/4th-background-1600x500.png');
    background-size: cover;
}

#container .tj-section-7 .row {
  text-align: center;
  margin: 0 80px;
  color: white;
  width: 780px;
}

#container .tj-section-7 .row h4{
  color: grey;
}

#container .contact {
  width: 100%;
  display: block;
  height: 655px;
  background: #FFF;
  border: 1px solid #000;
  background-size: cover;
}

.contact .column .column-left {
  float: left;
  margin-top: 30px;
  width: 490px;
}

.contact .column .column-left h2{
  margin: 15px 0;
}

.contact .column .column-left input{
  margin: 12px 0;

}

.contact .column .column-left #message {
  text-align: top-left;
  height: 140px;
  margin-bottom: 30px;
}

.contact .column .column-right {
  margin: 30px 0 15px 60px;
  width: 410px;
  float: left;
}

.contact .column .column-right img {
  width: 170px;
  margin: 15px 16px;
  }

.contact button:hover{
    border: 1px solid #000;
    color: #000;
}


.footer{
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Sliced_Content/Backgrounds/5th-background1600x400.png');
    background-size: cover;
    overflow: hidden;
}

.footer .box{
    float: left;
    color: white;
    width: 300px;
    height: 300px;
    margin-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .box a{
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

#mid img {
    float: left;
    margin-right: 5px;
}
#mid p{
    width: 280px;
    margin-left: 20px;
}

#newsletter{
    float: left;
    text-align: center;
    font-size: 12px;
    width: 210px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid grey ;
    margin-top: 3px;
}
#send{
    margin-left: 15px;
}
.img-box{
    width: 320px;
    height: 60px;
    margin-top: 30px;
}
.img-box img:hover{

    border-radius: 50%;
    background: rgba(182, 182,182,0.82);
    overflow: hidden;
    z-index: 2;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}